body{
  margin: 0;
    font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #ffffff;
}
.ColorBrown{
  background-color: rgba(57, 28, 9, 0.35);
  width: 100%;
  max-width: 1550px;
  height: 100vh;
  position: absolute;
  z-index: 150;
}

*,
*:before,
*:after{box-sizing: border-box;}

.container{
width: 100%;
max-width: 1500px;
margin: 0 auto;

}
/* container*/

.intro{
width: 100%;
height: 100vh;
background: url("../img/intro.jpg") center; no-repeat; background-size:cover;
position: relative;
}

 h1, h2, h3, h4, h5, h6{
   margin: 0;
 }

.head{ height: 75px;
  background-color: rgb(17, 18, 51);
  width: 100%;
  padding-top: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header_inner{
  display: flex;
  justify-content: space-between;

}

.spoon{ height: 40px;
width: 200px;
margin: 10px 0 9px 0;
}
.search{ height: 20px;
width: 20px;
margin: 25px 40px 0 0;}

.navigation{ font-weight: 250;
  font-size: 21px;
  display: flex;
  justify-content: flex-end;
  margin:0 300px 0 110px;
}
.nav_link{
  display: inline-block;

  margin: 20px 36px 0 36px;
  color: rgb(255, 255, 255);
text-decoration: none;
font-weight: bolder;
position: relative;
}
.nav_link:hover{
  color: rgb(255, 255, 255);
  text-decoration: underline;
  height: 10px;
}

.TITLE{
  margin: 125px 610px auto 55px;
  font-size: 65px;
}
.text_v_h1{ width: 600px;
  font-size: 26px;
  margin: 0 0 0 55px;
}
.button_v_h1{width: 270px;
  height: 55px;
  background-color:rgb(17, 18, 51);
margin: 27px 610px auto 55px;
z-index: 300;
border-radius: 50px;
}
.order{
  padding: 10px 8px 8px 56px;
}


.container2{
width: 100%;
max-width: 1550px;
margin: 0 auto;
}
.intro2{ height: 825px;
  width: 100%;
  background: url("../img/intro2.jpg") center; no-repeat; background-size:cover;
}
.title2{ font-size: 38px;
text-align: center;
padding-top: 80px;
}
.text2{
  font-size: 26px;
  text-align: center;
}
.sushititle{
  width: 1000px;
  margin: 65px 275px 0;
}
.sushi{ display: flex;
justify-content: space-around;
}
.image_sushi{
width: 230px;
}
.titles{ font-size: 25px;
display: flex;
justify-content: space-around;
margin: 15px 0;
}
.textsushi{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
h3{ font-weight: lighter;
  font-size: 20px;
}


.container3{
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
}
.intro3{
  height: 825px;
   width: 100%;
   background: url("../img/intro3.jpg") center; no-repeat; background-size:cover;
   display: flex;
   justify-content: space-around;
}
.image_sushi4{
  margin:175px 0 0 125px;
}
.title3{ font-weight: bold;
  font-size: 85px;
  color: rgb(17, 18, 51);
  text-align: center;
padding: 175px 210px 0 50px;
}
.lorem{
  color: rgb(17, 18, 51);
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  padding: 30px 85px 0 175px;
}
.button_v_h3{width: 300px;
  height: 65px;
  background-color:rgb(17, 18, 51);
margin: 60px 450px auto 175px;
z-index: 300;
border-radius: 50px;
}
.order3{
  padding: 15px 12px 12px 72px;
}
